@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
  font-family: Avenic;
  src: url('../assets/fonts/Avenic.otf') format('opentype');
}
body {
  font-family: 'Avenic', sans-serif;
}
.layout {
  @apply max-w-7xl mx-auto px-5 sm:px-10;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.btn-primary {
  @apply self-start bg-[#324846] text-center rounded-3xl py-2 px-10 text-base-100 font-bold w-[194px] sm:w-[208px] mx-auto sm:mx-0;
}

.btn-primary:disabled {
  @apply bg-[#cdc6c6];
}

/* Home */

.navbar .navbar-menu li {
  @apply text-[#B7B7B7] text-lg relative;
}
.navbar .navbar-menu li.active::after {
  content: ''; /* Add content */
  position: absolute; /* Position the pseudo-element */
  bottom: -12px; /* Align at the bottom */
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffc269;
}
.navbar .navbar-menu li.active {
  @apply !text-primary;
}
.navbar .current-menu-item,
.navbar .current-menu-ancestor {
  @apply !text-primary;
}

.navbar .mobile-nav {
  top: -500px;
  transition: top 1s ease;
}
/* mobile */
.navbar .mobile-navbar-menu li {
  @apply text-[#B7B7B7] text-lg font-bold;
}
.navbar .mobile-navbar-menu li {
  @apply relative;
}
.navbar .mobile-navbar-menu li.active::after {
  content: ''; /* Add content */
  position: absolute; /* Position the pseudo-element */
  top: 50%; /* Align at the bottom */
  right: -21px; /* Align horizontally */
  transform: translateY(-50%); /* Center horizontally */
  width: 10px; /* Width of the circle */
  height: 10px; /* Height of the circle */
  border-radius: 50%; /* Make it a circle */
  background-color: #ffc269; /* Color of the circle */
}
.navbar .mobile-navbar-menu li.active a {
  @apply !text-primary;
}

.navbar .mobile-nav .current-menu-item,
.navbar .mobile-nav .current-menu-ancestor {
  @apply !text-primary;
}
.navbar .mobile-nav.active {
  top: 0;
}
.shape {
  transform-origin: 0 100%;
  transform: rotate(45deg) translateY(150px);
}
/* contact form */
.msgContact-sucess {
  display: none;
}
.msgContact-error {
  display: none;
}
/* contact form */
/* Swiper */
.swiper-pagination .swiper-pagination-bullet {
  @apply border-2 w-[15px] h-[15px] rounded-full  opacity-50 border-primary transition-all duration-300;
}
.swiper-pagination .swiper-pagination-bullet {
  background-color: transparent !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  @apply !bg-primary opacity-100 w-[15px] h-[15px];
}

/* Home */

/* scroll to top */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  display: none;
}
/* Whattsapp */
#whattapBtn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  display: block;
}
.mySwiper2 .content-ourClients p {
  font-size: 28px;
}
@media (max-width: 64px) {
  .mySwiper2 .content-ourClients p {
    font-size: 18px;
  }
}
